
services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"


  loki:
    image: grafana/loki:2.8.2
    container_name: loki
    ports:
      - "3100:3100"

  promtail:
   image: grafana/promtail:2.9.1
   volumes:
    - /var/lib/docker/containers:/var/lib/docker/containers:ro
    - ./promtail-config.yml:/etc/promtail/config.yml
   command: -config.file=/etc/promtail/config.yml
   ports:
    - "9080:9080"


